/*slack log in page*/
#container{
    display: flex;
    background-color: white;
    margin-left: 15em;
    margin-right: 15em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;
  }
  #slack-image{
    margin: 5px;
  }
  #slack-image img{
    border-radius: 10px;
    height: 30em;
    width: 35em;
  }
  
  #contents{
    background-color: white;
  }
  #logo-slack{
    display: block;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 35px;
    margin-top: 50px;
  }
  #logo-slack img{
    width: 40px;
  }
  #login-with-g00gle{
    width: 15px;
    display: inline;
    justify-content: center;
    text-align: center;
  }
  button{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 12px;
  }
    #intro button{
      width: 18em;
      text-align: center;
      justify-content: center;
      background-color: white;
      padding:3px;
      border-radius: 5px;
    }
    .business{
        font-size: 11q1xs   px;  
    }
  
  #forms button{
    width: 18em;
    text-align: center;
    justify-content: center;
    background-color:  #7F265B;
    padding:5px;
    border-radius: 5px;
  }
  input{
    width: 16em;
  }
#Remember {
    width: 10px;
    font-size: 13px;
    text-align: center;
    justify-content: center;
    background-color: #7F265B;
}
#last{
    display: inline;
    justify-content: space-between;
    width: 10px;
    font-size: 13px;
    text-align: center;
    justify-content: center; 
}
#Rememberlabel{
    margin-right: 30px;
}
a{
    color: #7F265B;
    text-decoration: none; 
}